/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
docker/mysql/data/ca-key.pem

# storage ディレクトリ全体を追跡対象にする
!storage/
!storage/**
!storage/app/public/fruits-img